.container {
  display: flex;
  gap: 1em;
  justify-content: center;
  align-items: center;
  height: 45vh;
}

.container-segment {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  align-items: center;
}

.segment {
  display: flex;
  gap: 0.25em;
}

.segment-title {
  font-size: 1.25rem;
  color: #000000; 
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.flip-card {
  display: inline-flex;
  width: 80px; /* Adjust card size */
  height: 120px;
  color: #ffeb3b;
  background-color: black;
  font-size: 3rem; /* Adjust font size */
  text-align: center;
  line-height: 120px; /* Align text vertically */
  border-radius: 0.5em;
}

/* Removed all animation-related CSS */
.flip-card-inner {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}


@media only screen and (max-width:576px)
{
  .container
  {
    height: 30vh;
    width: 100vw;
  }
  .flip-card
  {
    font-size: x-large;
    height: 60px;
    width: 40px;
  }
}
@media only screen and (max-width:768px)
{
  .container
  {
    height: 30vh;
    width: 100vw;
  }
  .flip-card
  {
    font-size: x-large;
    height: 60px;
    width: 8vw;
  }
}