body {
    margin: 0;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
  }
  
  #canvas {
    align-self:stretch;
    width: 100%;
    height: 100vh;
    background: linear-gradient(45deg, #F7E9D7, #D9BFA3, #A1B56F, #2C6B5A);

  }